<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArduinoUploader" version="2.4.1" targetFramework="net452" />
  <package id="IntelHexFormatReader" version="2.2.1" targetFramework="net452" />
  <package id="NLog" version="4.4.10" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.10" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.10" targetFramework="net452" />
  <package id="SerialPortStream" version="2.1.2" targetFramework="net452" />
</packages>